.footer {
  background: #2f303a;
}

.address__list {
  color: var(--primary-title-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 9px;
}

.address__tel {
  margin-bottom: 0;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__address {
  @media screen and (min-width: 768px) {
    margin-right: 70px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-social {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address__list {
  display: block;
  margin-bottom: 9px;
}

.title__network {
  color: #ffffff;

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.network__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  align-items: baseline;
}

.footer-address-social {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-evenly;
  }
}

.network__list {
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  display: flex;
  margin-top: 20px;
}

.network__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.network__icon {
  fill: #ffffff;

  .network__link:hover &,
  .network__link:focus & {
    fill: #ffffff;
  }
}

.network__item:last-child {
  margin-right: 0;
}

.network__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}

.form__footer {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.form__fild {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.form__footer-input {
  @media screen and (max-width: 1199px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  width: 358px;
  height: 50px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding: 15px 16px;
}

.form__footer-btn {
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }

  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--primary-title-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);

  align-items: center;
  text-align: center;
}

.form__footer-wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  align-items: center;
  margin-top: 20px;
}

.form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
